<template>
  <div class="card flex justify-content-center">
      <Knob v-model="value" :min="-50" :max="50" />
  </div>
</template>

<script setup>

import Knob from 'primevue/knob'
import { ref } from 'vue'

const value = ref(10)
</script>
