<template>
    <div class="luggage-container">
      <div class="luggage-form">
        <label>乘客ID:</label>
        <select v-model="passengerId">
          <option v-for="passenger in passengers" :key="passenger.passId" :value="passenger.passId">{{ passenger.passId }}</option>
        </select>
        <label>行李长:</label>
        <input type="text" v-model="length">
        <label>行李宽:</label>
        <input type="text" v-model="width">
        <label>行李高:</label>
        <input type="text" v-model="height">
        <label>行李重量:</label>
        <input type="text" v-model="weight">
        <label>行李类型:</label>
        <select v-model="type">
          <option value="0">普通行李</option>
          <option value="1">特殊行李</option>
        </select>
        <label>特殊类型:</label>
        <select v-model="specialType">
          <option value="0">特殊行李1</option>
          <option value="1">特殊行李2</option>
          <option value="2">特殊行李3</option>
          <option value="3">特殊行李4</option>
          <option value="4">特殊行李5</option>
          <option value="5">特殊行李6</option>
          <option value="6">特殊行李7</option>
          <option value="7">特殊行李8</option>
          <option value="8">特殊行李9</option>
          <option value="">取消选择</option>
        </select>
        <button @click="addLuggage">添加行李</button>
      </div>
      <div class="luggage-list">
        <h2>乘客行李列表</h2>
        <table class="luggage-table">
            <thead>
            <tr>
                <th>类型</th>
                <th>特殊类型</th>
                <th>重量</th>
                <th>高度</th>
                <th>长度</th>
                <th>宽度</th>
                <!-- <th>删除</th> -->
            </tr>
            </thead>
            <tbody>
            <tr v-for="luggage in passengerLuggage" :key="luggage.luggageId" class="luggage-item">
                <td>{{ luggage.type }}</td>
                <td>{{ luggage.specialType }}</td>
                <td>{{ luggage.weight }}</td>
                <td>{{ luggage.height }}</td>
                <td>{{ luggage.length }}</td>
                <td>{{ luggage.width }}</td>
                <!-- <td>
                    <button @click="deleteLuggageItem(luggage.luggageId)">Delete</button>
                </td> -->
            </tr>
            </tbody>
        </table>
        <button class="update-button" @click="fetchPassengerLuggage">更新行李列表</button>
        <div>
            <button class="calculate-total" @click="calculateLuggagePrice">计算行李总价</button>
            <p v-if="totalPrice !== null" class="total-price">总价: {{ totalPrice }}</p>
        </div>
        </div>
    </div>
  </template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      totalPrice: null,
      passengerId: null,
      length: 34,
      width: 24,
      height: 56,
      weight: 22,
      type: 1,
      specialType: 1,
      passengers: [],
      passengerLuggage: []
    }
  },
  methods: {
    async addLuggage () {
      // 添加行李逻辑
      console.log('进入addLuggage方法了。。。。。')
      try {
        await axios.post('/api/cal/addLuggage', {
          passId: this.passengerId,
          type: this.type,
          specialType: this.specialType,
          weight: this.weight,
          height: this.height,
          length: this.length,
          width: this.width
        })
        // this.passengerLuggage = luggageList.data
        // console.log(this.passengerLuggage)
        // console.log('this.passengerId为：' + this.passengerId)
      } catch (error) {
        console.error(error)
      }
    },
    async fetchPassengerLuggage () {
      console.log('进入fetchPassengerLuggage方法了。。。。。')
      // 从数据库中获取乘客的行李数据
      try {
        const luggageList = await axios.get('/api/cal/getLuggages', {
          params: {
            passId: this.passengerId
          }
        })
        this.passengerLuggage = luggageList.data
        console.log(this.passengerLuggage)
        console.log('this.passengerId为：' + this.passengerId)
      } catch (error) {
        console.error(error)
      }
    },
    async deleteLuggageItem (value) {
      // 从数据库中获取乘客的行李数据
      try {
        await axios.delete('/api/cal/deleteLuggage', {
          params: {
            luggageId: value
          }
        })
        this.fetchPassengerLuggage()
        // this.passengers = passengerList.data
        console.log('删除行李成功' + value)
      } catch (error) {
        console.error(error)
      }
    },
    async fetchPassengers () {
      // 从数据库中获取乘客的行李数据
      try {
        const passengerList = await axios.get('/api/cal/getPassengers')
        this.passengers = passengerList.data
        console.log(this.passengers)
      } catch (error) {
        console.error(error)
      }
    },
    async calculateLuggagePrice () {
      // 从数据库中获取乘客的行李数据
      console.log('进入calculateLuggagePrice方法了。。。。。')
      try {
        const luggagePrice = await axios.get('/api/cal/calPrice', {
          params: {
            passId: this.passengerId
          }
        }
        )
        this.totalPrice = luggagePrice.data
        this.totalPrice = parseFloat(this.totalPrice).toFixed(2)
        console.log('totalPrice:' + this.totalPrice)
      } catch (error) {
        console.error(error)
      }
    }
  },
  mounted () {
    this.fetchPassengerLuggage()
    this.fetchPassengers()
  }
}
</script>

  <style>
  .luggage-container {
    display: flex;
    justify-content: space-between;
    background: url('@/assets/background.png') no-repeat center center fixed;
    background-size: cover;
  }

  .luggage-form {
    width: 300px;
    padding: 20px;
    border: 20px solid #ccc;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
}

  .luggage-form label {
    display: block;
    margin-bottom: 5px;
  }

  .luggage-form input,
  .luggage-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .luggage-list {
    width: 60%;
    margin-right: 60px;
  }

  .luggage-list h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
  }
  .luggage-table {
    width: 100%;
    border-collapse: collapse;
}

.luggage-table th,
.luggage-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.luggage-table th {
  background-color: #f2f2f2;
}

.luggage-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.luggage-table tr:hover {
  background-color: #f1f1f1;
}

  .luggage-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
  }

  .update-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-button:hover {
    background-color: #0056b3;
}
.calculate-total {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.calculate-total:hover {
    background-color: #218838;
}

.total-price {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}
.total-price {
    font-weight: bold;
    font-size: 20px;
    color: red;
}
  </style>
